{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Open Speech Corpus' %}
{% endblock %}
{% block content %}
    <div class="container">


    <h1 class="center">
        {% trans "Download our apps" %}
    </h1>

    <p>
        {% blocktrans  %}
            An easier way to collaborate from anywhere anytime
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            We're happy to anounce our first release, please, take a look to out 0.1v

        {% endblocktrans %}
        <a href="https://play.google.com/store/apps/details?id=com.contraslash.android.openspeechcorpus">
            Android App
        </a>
    </p>
    </div>
{% endblock %}