{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Restore password' %}
{% endblock %}

{% block content %}
    <div class="container center">
        <div class="row">
            <h1>{% trans 'Restore password' %}</h1>
        </div>
        {{ form.errors }}
         <form class="col s12" method="POST" action="{% url 'password_reset' %}">
                {%  csrf_token %}
                <div class="input-field">
                    <i class="mdi-action-account-circle prefix"></i>
                    {{ form.email }}
                    <label for="old_password">{% trans 'Email' %}</label>
                </div>
                <button type="submit" class="btn waves-effect waves-light" value="Reset password">
                    {% trans 'Restore password' %}
                    <i class="mdi-content-send right"></i>
                </button>

                <br/>
            </form>
    </div>
{% endblock %}