{% extends "base.html" %}
{% load i18n %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="container center">
        <div class="row">
            <h1>{% trans 'Restore password'  %}</h1>
        </div>

        {% if validlink %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <form class="col s12" method="POST" action="">
                    {%  csrf_token %}
                    <div class="input-field">
                        <i class="mdi-action-input prefix"></i>
                        {{ form.new_password1 }}
                        <label for="new_password1">
                            {% trans 'New Password' %}
                        </label>
                    </div>
                    <div class="input-field">
                        <i class="mdi-action-input prefix"></i>
                        {{ form.new_password2 }}
                        <label for="new_password2">
                            {% trans 'Confirm password' %}
                        </label>
                    </div>
                    <br/>
                    <button type="submit" class="btn waves-effect waves-light">
                        {% trans 'Change password' %}
                        <i class="mdi-content-send right"></i>
                    </button>
                    <input type="hidden" name="next" value="{% url 'index' %}" />
                    <br/>
        {#                    <a class="left" href="#">¿Olvidaste tu contraseña?</a>#}
                    <a class="right" href="{% url 'sign-up' %}">
                        {% trans  'Sign up'%}
                    </a>
                    <!--<br/>-->
                </form>
            </div>
        {% else %}
            <h1>{% trans 'Invalid URL' %}</h1>
            <p>{% trans 'This link has already been used' %}</p>
        {% endif %}
    </div>
{% endblock %}