{% extends 'base.html' %}
{% load i18n %}
{% load core_tags %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s4">{% trans 'name' %}</div>
            <div class="col s8">{{ recording.name }}</div>
        </div>
        {% if tale %}
            <div class="row">
                <div class="col s4">{% trans 'tale' %}</div>
                <div class="col s8">{{ tale }}</div>
            </div>
            <div class="row">
                <div class="col s4">{% trans 'author' %}</div>
                <div class="col s8">{{ tale.author }}</div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s4">{% trans 'text' %}</div>
            <div class="col s8">{{ recording.text }}</div>
        </div>
        <div class="row">
            <div class="col s4">{% trans 'text' %}</div>
            <div class="col s8">{{ recording.length|audio_length }}</div>
        </div>
        <div class="row">
            <div class="col s4">{% trans 'created' %}</div>
            <div class="col s8">{{ recording.created }}</div>
        </div>
        <div class="row">
            <div class="col s12">
                <audio controls>
                    {% if recording.id <= 23006 %}
                        <source src="https://s3.amazonaws.com/contraslash/openspeechcorpus/media/{{ recording.audiofile }}">
                    {% else %}
                        true
                        <source src="https://s3.amazonaws.com/contraslash/openspeechcorpus/media/audio-data/v2/{{ recording.id }}.wav">
                    {% endif %}
                </audio>
            </div>

        </div>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s8"></div>
        </div>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s8"></div>
        </div>
    </div>
{% endblock %}